.cabeçalho__menu__hamburguer{
    width: 24px;
    height: 24px;
    background-image: url("../assets/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}
.cabeçalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
}

.container__imagem{
    padding: 1em;
}

.lista__menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked ~.lista__menu {
    display: block;
}

.lista__menu__titulo, .lista__menu__item{
    padding: 1em;
    background-color: var(--branco);
}

.lista__menu__titulo{
    color: var(--laranja);
    font-weight: 700;
}   

.lista__menu__link{
    background: var(--azul-degrade);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.container__botao{
    display: none;
}

.container__botao:checked ~ .container__rotulo > .cabeçalho__menu__hamburguer{
    background-image: url(/assets/Menu\ Aberto.svg);
}

.container__botao:checked ~ .container__rotulo {
    background: var(--azul-degrade);
}

 @media screen and (max-width: 1024px){
    .container__titulo, .container__titulo__negrito{
        display: none;

    }
    .opcoes{
        display: none;
    }
    .opcoes__botao:checked ~.opcoes__rotulo >.opcoes__item {
        background: var(--azul-degrade);
        color: var(--branco);
    }
    .lista__menu__item:hover{
        background: var(--azul-degrade);
    }
    .lista__menu__item:hover > .lista__menu__link {
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }
 }

 @media screen and (min-width: 1024px) {
    .container__titulo, .container__titulo__negrito {
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }

    .container__titulo {
        font-weight: 400;
    }
    .container__titulo__negrito {
        font-weight: 700;
    }
    .opcoes{
        display: flex;
    }

    .opcoes__item {
        padding: 1em;
        text-transform: uppercase;
    }

    .opcoes__link{
        text-decoration: none;
        color: var(--preto);
    }

    .container__imagem__transparente{
        display: none;
    }  
    .cabeçalho__menu__hamburguer{
        display: none;
    }
    .opcoes__botao:checked ~ .lista__menu{
        display: block;
        width: auto;
    }
    .opcoes__botao{
        display: none
    };
 }

 @media screen and (max-width:1600px){
    .container__texto{
        display: none;
    }
    
 }

 @media screen and (min-width:1600px){
    .container__link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }
    .cabeçalho{
        padding: 0 2em;
    }

    .opcoes{
        margin-right: auto;
    }

    
 }